@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  background-color: #D3D3D3;
}

h1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

body{
  color:rgb(64, 64, 64);
  font-size: 18px;
  padding-left: 100px;
  padding-right: 50px;
  text-align: left;
}


results{
  color: blue;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}

resultsHead{
  color: green;
  font-size: 24px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}

#queryError{
    color: darkred;
    font-weight: bold;
}

table,td,th{
  color: blue;
  font-size: 14px;
  text-align: left;
  padding-right: 20px;
  border: 1px;
}

#btn_add_stock{
  width: 175px;
  height: 40px;
  font-size: 20px;
  color:black;
  background-color: lightseagreen;
  border: 1px black;
  border-style: solid;
  border-radius: 10px;
}

#btn_add_stock:active {
  background-color: salmon;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#btn_upd_stock{
  width: 200px;
  height: 40px;
  font-size: 20px;
  color:black;
  background-color: lightskyblue;
  border: 1px black;
  border-style: solid;
  border-radius: 10px;
}

#btn_upd_stock:active {
  background-color: salmon;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#btn_del_stock{
  width: 200px;
  height: 40px;
  font-size: 20px;
  color:black;
  background-color: gold;
  border: 1px black;
  border-style: solid;
  border-radius: 10px;

}
#btn_del_stock:active {
  background-color: salmon;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
